.home {
  .header {
    background: url('home.png') no-repeat 50% -5px;
    max-width: 900px;
    margin: auto;
    padding-top: 220px;

    transition: background-position 0.2s ease;
    -webkit-transition: background-position 0.2s ease;
    -moz-transition: background-position 0.2s ease;
    -o-transition: background-position 0.2s ease;

    &:hover {
      background-position: 50% 0px;
    }
  }

  h1 {
    text-align: center;
    font-size: 50px;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    color: #999;
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: normal;

    a {
      color: #999;
      text-decoration: underline;
    }
  }

  form {
    max-width: 400px;
    margin: auto;
  }


  .footer {
    text-align: center;
    color: #999;
    margin: 120px 0 20px 0;

    a {
      color: #999;
      text-decoration: underline;
    }
  }
}