<div class="company">
  <div class="details">
    <h1>
      <a href="/">Slacker /</a> {{ company.name }}
    </h1>

    <div class="characters">
      <div class="filter">
        <input id="filter" class="form-control search-control" type="text" ng-model="characterFilter.name" placeholder="Filter" />
      </div>
      <ul>
        <li ng-click="companyService.newCustomCharacter()">
          <div class="character">
            <img ng-src="/custom-character.png">
          </div>
        </li>
        <li ng-repeat="character in customCharacters | filter: characterFilter track by $index" ng-click="companyService.newMessage(character)" ng-class="{selected: character == message.character}">
          <div class="character custom">
            <img ng-src="{{character.icon_url}}">
            {{ character.name }}
          </div>
        </li>
        <li ng-repeat="character in characters | filter: characterFilter" ng-click="companyService.newMessage(character)" ng-class="{selected: character == message.character}">
          <div class="character">
            <img ng-src="{{character.icon_url}}">
            {{ character.name }}
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="panel pick-a-character" ng-if="!message && !customCharacter && !company.url">
    Pick a character
  </div>

  <div class="panel" ng-if="company.url">
    <div class="alert alert-success">
      <p style="font-size: 24px;">Slacker has been updated!</p>
      <p>For Slack users, using Webhooks is no longer supported. We now use API Tokens, Yay!</p>
      <p>By using API Tokens instead of webhooks Slacker gets some extra powers:</p>
      <ol>
        <li>It can give you a list of rooms you can post to so you don't have to type them out manually like some kind of peasant</li>
        <li>It makes it easy to clone your team mates (and give them cool moustaches with Moustachify.me)</li>
      </ol>
      <p>For HipChat users, nothing much will change - due to limitations in HipChat's V2 API, neither of these features are available to HipChat people... for now.</p>
      <p><a href="/" class="alert-link">Jump back home to re-set up your account.</a></p>
    </div>
  </div>

  <div class="panel" ng-if="message && !company.url">
    <div class="new-message">
      <div class="character">
        <img ng-src="{{message.character.icon_url}}" />
      </div>
      <div class="message">
        <div class="arrow"></div>

        <div class="sending" ng-show="sending">Sending...</div>

        <form ng-show="!sending" ng-submit="companyService.postMessage()" class="form-horizontal">
          <textarea id="message-text" ng-model="message.text" rows="5" placeholder="Hello"></textarea>

          <div class="form-group">
            <div class="col-sm-4">
              <div ng-if="channels">
                <select id="message-channel" ng-model="message.channel" ng-options="channel as channel.displayName for channel in channels track by channel.name" class="form-control input-sm"></select>
              </div>
              <div ng-if="!channels">
                <div class="favorite-label">Default Rooms</div>
                <select name="favoriteRooms" id="favoriteRooms" ng-model="message.channel">
                  <option ng-repeat="room in favoriteRooms" value="{{room.value}}">{{room.name}}</option>
                </select>
                <input id="message-channel" type="text" class="form-control" ng-model="message.channel" placeholder="room/channel" />
              </div>
            </div>

            <div class="col-sm-8" style="text-align:right">
              <button class="btn btn-primary" type="submit">Post!</button>
              <button class="btn btn-default" type="button" ng-click="companyService.hideMessage()">Close</button>
            </div>
          </div>
        </form>
      </div>
      <div class="character-actions" ng-if="message.character.custom">
        <a href="" ng-click="companyService.editCustomCharacter(message.character)">Edit</a>
        -
        <a href="" ng-click="companyService.deleteCustomCharacter(message.character)">Delete</a>
      </div>
    </div>
  </div>

  <div class="panel" ng-if="customCharacter && !company.url">
    <div class="custom-character">
      <div class="character">
        <img ng-src="{{customCharacter.icon_url || '/custom-character.png'}}" />
      </div>
      <div class="character-details">
        <form ng-submit="companyService.saveCustomCharacter(customCharacter)">
          <div class="form-group">
            <input id="custom-character-name" type="text" class="form-control" ng-model="customCharacter.name" placeholder="Name" maxlength="30" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="customCharacter.icon_url" placeholder="Image URL" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="customCharacter.default_text" placeholder="Default message" />
          </div>

          <div class="form-group">
            <button class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-default" type="button" ng-click="companyService.cancelEditCustomCharacter()">Cancel</button>
          </div>

          <div class="form-group help-block">
            Custom characters are only saved for you (when you use this browser).
          </div>

          <div ng-if="teamMembers" class="form-group">
            <hr />
            <p>Clone a current team member:</p>
            <div class="row">
              <div class="col-sm-6">
                <select class="form-control" ng-model="cloneTarget" ng-change="companyService.cloneTeamMember(this.cloneTarget)" ng-options="teamMember as teamMember.name for teamMember in teamMembers">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="about">
    <a href="http://nathanhoad.net/slacker-post-to-slack-as-your-favourite-character">Nathan Hoad</a> &amp; <a href="http://ngutechnology.com.au">NGU Technology</a>
  </div>
</div>
