<div class="home">
  <div class="header">
    <h1>Slacker</h1>
    <h2>Post funny replies to <a href="https://slack.com/" target="_blank">Slack</a> or <a href="https://www.hipchat.com/">HipChat</a> as your favourite character.</h2>
  </div>

  <div class="signup">
    <form ng-submit="homeService.createCompany()">
      <div class="previous-company" ng-if="previousCompany">
        <a ng-href="/{{previousCompany.data}}" class="btn btn-success btn-lg btn-block">Go back to {{previousCompany.name}}</a>
        <p>or</p>
      </div>

      <div class="form-group">
        <label>Organisation name</label>
        <input ng-model="company.name" class="form-control input-lg" placeholder="My Organisation" autofocus="true" />
      </div>
      
      <div class="form-group pick-service" id="pick-service">
        <ul class="nav nav-tabs">
          <li id="slack-tab" class="active">
            <a href="#" ng-click="homeService.pickService('slack')"><img src="slack-logo.png" /></a>
          </li>
          <li id="hipchat-tab">
            <a href="#" ng-click="homeService.pickService('hipchat')"><img src="hipchat-logo.png" /></a>
          </li>
        </ul>
      </div>
      
      <div class="form-group" id="slack-token" ng-class="{'has-error': errors.token}">
        <label class="control-label">Slack API Token <span class="error" ng-if="errors.token">{{errors.token}}</span></label>
        <input id="slack-token-input" ng-model="company.token" class="form-control input-lg" />
        <div class="help-block">
          <a href="https://api.slack.com/web#auth" target="_blank">You can get a Slack API Token from https://api.slack.com/web#auth</a>
        </div>
      </div>
      
      <div class="form-group" id="hipchat-token" style="display: none" ng-class="{'has-error': errors.token}">
        <label class="control-label">HipChat API token <span class="error" ng-if="errors.token">{{errors.token}}</span></label>
        <input id="hipchat-token-input" ng-model="company.token" class="form-control input-lg" />
        <div class="help-block">
          <a href="https://www.hipchat.com/admin/api" target="_blank">You can get a HipChat API token from https://www.hipchat.com/admin/api</a>
        </div>
        <div class="help-block">
          Currently only Version 1 of the Hipchat API has the ability to send Slacker messages.
        </div>
      </div>

      <div class="form-group get-started">
        <button type="submit" class="btn btn-danger btn-lg btn-block">Get started</button>
      </div>
    </form>
  </div>
  
  <div class="info">
    <div class="info-content">
      <div class="row">
        <div class="col-sm-6">
          <h3>There's over 20 built in characters</h3>
          <a href="home-pick-character.png" target="_blank"><img src="home-pick-character.png" /></a>
        </div>
        
        <div class="col-sm-6">
          <h3>You can add your own characters too!</h3>
          <a href="home-custom-character.png" target="_blank"><img src="home-custom-character.png" /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    Made with love by <a href="http://nathanhoad.net/slacker-post-to-slack-as-your-favourite-character">Nathan Hoad</a>. Sponsored by <a href="http://ngutechnology.com.au">NGU Technology</a>
  </div>
</div>
