<div class="home">
  <div class="header">
    <h1>Slacker</h1>
    <h2>Funny replies for <a href="https://slack.com/">Slack</a></h2>
  </div>

  <div class="signup">
    <form ng-submit="createCompany()">
      <div class="form-group">
        <input ng-model="company.name" class="form-control input-lg" placeholder="Company Name" autofocus="true" />
      </div>
      <div class="form-group">
        <input ng-model="company.url" class="form-control input-lg" placeholder="Webhooks URL" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-danger btn-lg btn-block">Get started</button>
      </div>
    </form>
  </div>

  <div class="footer">
    Made with love by <a href="http://nathanhoad.net">Nathan Hoad</a>. Sponsored by <a href="http://sidelab.com">Sidelab</a>
  </div>
</div>