<!DOCTYPE html>
<html ng-app="app" ng-controller="app.controller">
  <head>
    <title>Slacker</title>
    <link rel="icon" type="image/png" href="icon.png" />
    
    <link rel="stylesheet" href="bower.min.css" />
    <link rel="stylesheet" href="app.min.css" />
    <script type="text/javascript" src="bower.min.js"></script>
    <script type="text/javascript" src="app.min.js"></script>
    
    <meta name="description" content="Post funny replies to Slack or HipChat as your favourite character." />
    <meta property="og:title" content="Slacker - Funny replies for Slack or HipChat" />
    <meta property="og:site_name" content="Slacker" />
    <meta property="og:url" content="http://slacker.ngutechnology.com.au" />
    <meta property="og:description" content="If I could get you to go ahead and start posting funny replies into Slack or HipChat that'd be greeeaaat." />
    <meta property="og:image" content="http://slacker.ngutechnology.com.au/share.png" />
  </head>
  <body>
    <div ng-view></div>

    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42563490-9', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </body>
</html>
